
#board {
  border-collapse: collapse;
  font-family: monospace;
}

#board {
  display:grid;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 75%;
  border:1px solid #eee;
  //background: linear-gradient(to right bottom, #2386f0, #2ca3f5);
}

#myCanvas {
  border:1px solid #ddd;
  margin: auto;
}

