@import '../../common.scss';

$hexcolor: #fff;
$hexwidth: 110px;

.hextile {
  background-color: $hexcolor;
  @include hex-shadow;
  cursor: pointer;
  &:hover {
    background: #d6eeff;
    .before, .after {
      background: #d6eeff;
    }
  }

  > span {
    justify-content: center;
    align-items: center;
    background: inherit;
  
    > div {
      background: #fff;
      @include hex-shadow;
      cursor: pointer;

      &:hover {
        background: #d6eeff;
      }
    }
  }
}

.before, .after {
  background-color: $hexcolor;
  @include hex-shadow;
}